openapi: 3.2.0
info:
  title: Gumlet Organization Data API
  description: Gumlet helps developers deliver online video and images. This API encompasses Gumlet Video, Image and Video Analytics functionality to help you build your products better and faster than ever before.
  version: '1.4'
  contact:
    name: Gumlet Support Team
    url: https://www.gumlet.com/contact/
    email: support@gumlet.com
  termsOfService: https://www.gumlet.com/terms/
  license:
    name: Apache 2.0
    url: https://opensource.org/license/apache-2.0
  x-scalar-sdk-installation:
  - lang: TypeScript
    description: '```sh

      npm install @gumlet/nodejs-sdk

      ```'
  - lang: Python
    description: '```sh

      pip install gumlet

      ```'
servers:
- url: https://api.gumlet.com/v1
security:
- API_KEY: []
tags:
- name: Organization Data
  description: Endpoints to get organization details.
paths:
  /org/data:
    get:
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Organization ID
                  org_email:
                    type: string
                    description: Primary email of the organization
                  unpaid:
                    type: boolean
                    description: Flag if account is blocked due to unpaid dues. False means account is not blocked.
                  created_at:
                    type: number
                    description: Org creation time. Epoch timestamp in milliseconds.
                  plan:
                    type: string
                    description: Subscription plan name
                  plan_cycle:
                    type: string
                    enum:
                    - monthly
                    - yearly
                    x-apidog-enum:
                    - value: monthly
                      name: ''
                      description: ''
                    - value: yearly
                      name: ''
                      description: ''
                    description: Billing cycle. `monthly` or `yearly`.
                  plan_data:
                    type: object
                    properties:
                      image:
                        type: object
                        properties:
                          plan:
                            type: string
                            description: Image plan name
                          cycle:
                            type: string
                            description: Billing cycle. `monthly` or `yearly`.
                            enum:
                            - monthly
                            - yearly
                            x-apidog-enum:
                            - value: monthly
                              name: ''
                              description: ''
                            - value: yearly
                              name: ''
                              description: ''
                          trialing:
                            type: boolean
                            description: If the plan is under trial or not.
                          display_name:
                            type: string
                        x-apidog-orders:
                        - plan
                        - cycle
                        - trialing
                        - display_name
                        required:
                        - plan
                        - cycle
                        - trialing
                        - display_name
                      video:
                        type: object
                        properties:
                          plan:
                            type: string
                            description: Video plan name
                          cycle:
                            type: string
                            description: Billing cycle. `monthly` or `yearly`.
                            enum:
                            - monthly
                            - yearly
                            x-apidog-enum:
                            - value: monthly
                              name: ''
                              description: ''
                            - value: yearly
                              name: ''
                              description: ''
                          trialing:
                            type: boolean
                            description: If the plan is under trial or not.
                          display_name:
                            type: string
                        x-apidog-orders:
                        - plan
                        - cycle
                        - trialing
                        - display_name
                        required:
                        - plan
                        - cycle
                        - trialing
                        - display_name
                    x-apidog-orders:
                    - image
                    - video
                    required:
                    - image
                    - video
                  stripe_account_loc:
                    type: string
                    enum:
                    - ind
                    - sgp
                    x-apidog-enum:
                    - value: ind
                      name: ''
                      description: ''
                    - value: sgp
                      name: ''
                      description: ''
                  sso_enabled:
                    type: boolean
                    description: Flag if SSO is enabled for org.
                  got_free_trial:
                    type: boolean
                  metadata:
                    type: object
                    properties:
                      firstImageSourceCreated:
                        type: boolean
                      firstVideoUploaded:
                        type: boolean
                      nsfw_blocked:
                        type: boolean
                        description: Flag is org is blocked for NSFW uploads.
                    x-apidog-orders:
                    - firstImageSourceCreated
                    - firstVideoUploaded
                    - nsfw_blocked
                    required:
                    - firstImageSourceCreated
                    - firstVideoUploaded
                    - nsfw_blocked
                x-apidog-orders:
                - id
                - org_email
                - unpaid
                - created_at
                - plan_cycle
                - plan
                - plan_data
                - stripe_account_loc
                - sso_enabled
                - got_free_trial
                - metadata
                required:
                - id
                - org_email
                - unpaid
                - created_at
                - plan
                - plan_cycle
                - plan_data
                - stripe_account_loc
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      summary: Get Organization Details
      tags:
      - Organization Data
      operationId: fetch-org
      description: You can get organization data using this API.
      x-codeSamples:
      - label: TypeScript
        lang: TypeScript
        source: "import Gumlet from '@gumlet/nodejs-sdk';\n\nconst client = new Gumlet({\n  apiKey: process.env['API_KEY'], // defaults to the API_KEY env var\n});\n\nconst organizationData = await client.organizationData.fetchOrg();\n\nconsole.log(organizationData);"
      - label: Python
        lang: Python
        source: "import os\n\nfrom gumlet import Gumlet\n\nclient = Gumlet(\n    api_key=os.environ.get(\"API_KEY\"),\n)\n\norganization_data = client.organization_data.fetch_org()\n\nprint(organization_data)"
components:
  schemas:
    Error:
      type: object
      required:
      - error
      properties:
        error:
          type: object
          required:
          - code
          - message
          properties:
            code:
              type: string
              description: Machine-readable error code
            message:
              type: string
              description: Human-readable error message
            param:
              type: string
              description: Optional parameter name related to the error
  responses:
    Unauthorized:
      description: Unauthorized — missing or invalid API key / bearer token
      content:
        application/json:
          examples:
            Result:
              value:
                error:
                  code: invalid_api_key
                  message: API key supplied with request is invalid
          schema:
            $ref: '#/components/schemas/Error'
    Forbidden:
      description: Forbidden — unpaid account or insufficient role permissions
      content:
        application/json:
          examples:
            Result:
              value:
                error:
                  code: unauthorized
                  message: You don't have access to this feature. Please contact your organization owner.
          schema:
            $ref: '#/components/schemas/Error'
  securitySchemes:
    API_KEY:
      type: http
      scheme: bearer
x-tagGroups:
- name: Video on Demand
  tags:
  - Video Assets
  - Global Search
  - Multipart Upload
  - Audio Upload
  - Subtitle Upload
  - Recycle Bin
  - Video Workspaces
  - Folders
  - Video Playlists
  - Channel Viewers
  - Video Usage Analytics
  - Video Profiles
  - Webhooks
- name: Live Streams
  tags:
  - Live Stream Workspaces
  - Live Stream Assets
  - Live Stream Analytics
- name: Image APIs
  tags:
  - Image Sources
  - Image Usage Analytics
- name: Video Analytics
  tags:
  - Video Analytics
- name: Webhooks
  tags:
  - Webhooks
- name: Account Endpoints
  tags:
  - User Data
  - Billing
  - Organization Data
  - Audit Logs
x-ext-urls: {}
