openapi: 3.2.0
info:
  title: Gumlet User Data API
  description: Gumlet helps developers deliver online video and images. This API encompasses Gumlet Video, Image and Video Analytics functionality to help you build your products better and faster than ever before.
  version: '1.4'
  contact:
    name: Gumlet Support Team
    url: https://www.gumlet.com/contact/
    email: support@gumlet.com
  termsOfService: https://www.gumlet.com/terms/
  license:
    name: Apache 2.0
    url: https://opensource.org/license/apache-2.0
  x-scalar-sdk-installation:
  - lang: TypeScript
    description: '```sh

      npm install @gumlet/nodejs-sdk

      ```'
  - lang: Python
    description: '```sh

      pip install gumlet

      ```'
servers:
- url: https://api.gumlet.com/v1
security:
- API_KEY: []
tags:
- name: User Data
  description: Endpoints to get user details.
paths:
  /user/data:
    get:
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: User ID
                  email:
                    type: string
                    format: email
                    description: User Email
                  name:
                    type: string
                    description: Full name of user
                  creation_date:
                    type: integer
                    description: User creation date. Milliseconds since epoch.
                  last_login_date:
                    type: integer
                    description: Last login date. Milliseconds since epoch.
                  last_login_ip:
                    type: string
                    description: IP address of last login.
                  roles:
                    type: array
                    items:
                      type: string
                    description: Roles assigned to the user.
                  timezone:
                    type: string
                    description: Timezone selected by user.
                  metadata:
                    type: object
                    properties:
                      theme:
                        type: string
                        description: Dashboard theme.
                    x-apidog-orders:
                    - theme
                    required:
                    - theme
                x-apidog-orders:
                - id
                - email
                - name
                - creation_date
                - last_login_date
                - last_login_ip
                - roles
                - timezone
                - metadata
                required:
                - id
                - email
                - name
                - creation_date
                - last_login_date
                - last_login_ip
                - roles
                - timezone
                - metadata
        '400':
          description: Bad Request — org API key not allowed
          content:
            application/json:
              examples:
                Result:
                  value:
                    error:
                      code: user_token_required
                      message: You must access this route by only using a user token or gumlet website.
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                        example: user_token_required
                      message:
                        type: string
                        example: You must access this route by only using a user token or gumlet website.
                    required:
                    - code
                    - message
                required:
                - error
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      summary: Get User
      tags:
      - User Data
      operationId: fetch-user
      description: This endpoint gives information about the user account.
      x-codeSamples:
      - label: TypeScript
        lang: TypeScript
        source: "import Gumlet from '@gumlet/nodejs-sdk';\n\nconst client = new Gumlet({\n  apiKey: process.env['API_KEY'], // defaults to the API_KEY env var\n});\n\nconst userData = await client.userData.fetch();\n\nconsole.log(userData);"
      - label: Python
        lang: Python
        source: "import os\n\nfrom gumlet import Gumlet\n\nclient = Gumlet(\n    api_key=os.environ.get(\"API_KEY\"),\n)\n\nuser_data = client.user_data.fetch()\n\nprint(user_data)"
components:
  schemas:
    Error:
      type: object
      required:
      - error
      properties:
        error:
          type: object
          required:
          - code
          - message
          properties:
            code:
              type: string
              description: Machine-readable error code
            message:
              type: string
              description: Human-readable error message
            param:
              type: string
              description: Optional parameter name related to the error
  responses:
    Forbidden:
      description: Forbidden — unpaid account or insufficient role permissions
      content:
        application/json:
          examples:
            Result:
              value:
                error:
                  code: unauthorized
                  message: You don't have access to this feature. Please contact your organization owner.
          schema:
            $ref: '#/components/schemas/Error'
    Unauthorized:
      description: Unauthorized — missing or invalid API key / bearer token
      content:
        application/json:
          examples:
            Result:
              value:
                error:
                  code: invalid_api_key
                  message: API key supplied with request is invalid
          schema:
            $ref: '#/components/schemas/Error'
  securitySchemes:
    API_KEY:
      type: http
      scheme: bearer
x-tagGroups:
- name: Video on Demand
  tags:
  - Video Assets
  - Global Search
  - Multipart Upload
  - Audio Upload
  - Subtitle Upload
  - Recycle Bin
  - Video Workspaces
  - Folders
  - Video Playlists
  - Channel Viewers
  - Video Usage Analytics
  - Video Profiles
  - Webhooks
- name: Live Streams
  tags:
  - Live Stream Workspaces
  - Live Stream Assets
  - Live Stream Analytics
- name: Image APIs
  tags:
  - Image Sources
  - Image Usage Analytics
- name: Video Analytics
  tags:
  - Video Analytics
- name: Webhooks
  tags:
  - Webhooks
- name: Account Endpoints
  tags:
  - User Data
  - Billing
  - Organization Data
  - Audit Logs
x-ext-urls: {}
